<!DOCTYPE html>
<html>
  <%= render 'partials/layout_head'%>
<body>


<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid" style="padding-top: 10px;">
    <ul class="nav-link" >
      <li><%= link_to "Home" , root_path, :class => 'navbar-brand' %></li>
    </ul>
    <ul class="nav-link" >
      <li><b><%= link_to "INSTAGRAM" , root_path, :class => 'navbar-brand ' %></b></li>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Instagram</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">

        <form class="d-flex mt-3" role="search" action="/search">


          <input class="form-control me-2" name="q" type="search" placeholder="Search Other Users" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>


        </form>

        <br>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

          <li class="nav-item">
            <a class="nav-link" href="#"> <%= link_to "My Profile", current_user, class:"nav-link"%></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> <%= link_to "Notifications", users_notifications_path,:class => 'nav-link'%></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"> <%= link_to "My Posts", posts_myposts_path,class:"nav-link"%></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><%= link_to "Create A Post" , new_post_path,:class => 'nav-link'%></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#"><%= link_to "Stories" , stories_path,:class => 'nav-link'%></a>
          </li>

          <br><br><br><br><br><br><br>


          <li class="nav-item">
            <a class="nav-link" href="#"><%= link_to "Sign out" , destroy_user_session_path, method: :delete , :class => 'btn btn-outline-light' %></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

<br>


<div class="container">

  <%= yield %>
  <%= render 'partials/footer' %>
</div>
    <%= render 'partials/bootstraplink2' %>
  </body>
</html>
